# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf

# =========================
# Operating System Files
# =========================

# Windows
# =========================

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
TemperatureMap/obj/Debug/Window1.g.i.cs
TemperatureMap/obj/Debug/Window1.g.i.cs
TemperatureMap/obj/Debug/Window1.g.cs
TemperatureMap/bin/Debug/config.json
TemperatureMap/obj/Debug/Window1.g.i.cs
TemperatureMap/obj/Debug/Window1.g.cs
TemperatureMap/obj/Debug/Window1.baml
TemperatureMap/obj/Debug/TemperatureMap_MarkupCompile.cache
TemperatureMap/obj/Debug/TemperatureMap.g.resources
TemperatureMap/obj/Debug/TemperatureMap.csprojResolveAssemblyReference.cache
TemperatureMap/obj/Debug/TemperatureMap.csprojAssemblyReference.cache
TemperatureMap/obj/Debug/TemperatureMap.csproj.FileListAbsolute.txt
TemperatureMap/obj/Debug/TemperatureMap.csproj.CoreCompileInputs.cache
TemperatureMap/obj/Debug/App.g.i.cs
TemperatureMap/obj/Debug/App.g.cs
TemperatureMap/bin/Debug/config.json
.vs/TemperatureMap/v15/Server/sqlite3/storage.ide-wal
.vs/TemperatureMap/v15/Server/sqlite3/storage.ide-shm
.vs/TemperatureMap/v15/Server/sqlite3/storage.ide
.vs/TemperatureMap/v15/Server/sqlite3/db.lock
.vs/TemperatureMap/v15/.suo
TemperatureMap/bin/Debug/config.json
